USE [master]
GO
/****** Object:  Database [user21]    Script Date: 10.09.2023 23:18:36 ******/
CREATE DATABASE [user21]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'user21', FILENAME = N'C:\Users\ADMIN\user21.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'user21_log', FILENAME = N'C:\Users\ADMIN\user21_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [user21].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [user21]
GO
USE [user21]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 10.09.2023 23:18:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[Clients_ID] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](100) NULL,
	[Lastname] [nvarchar](100) NULL,
	[Patronymic] [nvarchar](100) NULL,
	[Gender] [nvarchar](15) NULL,
	[Phone] [nvarchar](255) NULL,
	[Birthdate] [date] NULL,
	[Email] [nvarchar](155) NULL,
	[Register_Date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Clients_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 10.09.2023 23:18:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[Service_ID] [int] IDENTITY(1,1) NOT NULL,
	[Service] [nvarchar](255) NULL,
	[Main_Image] [nvarchar](100) NULL,
	[Time] [nvarchar](55) NULL,
	[Price] [money] NULL,
	[Discount] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Service_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service_Clients]    Script Date: 10.09.2023 23:18:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service_Clients](
	[Service_Client_ID] [int] IDENTITY(1,1) NOT NULL,
	[Service_Name] [nvarchar](255) NULL,
	[Service_ID] [int] NULL,
	[Date_Service] [datetime] NULL,
	[Client] [nvarchar](100) NULL,
	[Client_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Service_Client_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Service_Clients]  WITH CHECK ADD FOREIGN KEY([Client_ID])
REFERENCES [dbo].[Clients] ([Clients_ID])
GO
ALTER TABLE [dbo].[Service_Clients]  WITH CHECK ADD FOREIGN KEY([Service_ID])
REFERENCES [dbo].[Service] ([Service_ID])
GO
USE [master]
GO
